#line:hover
{
    stroke: red;
    stroke-width:4;
   
}

div
{
    position: absolute;
    top:60%;
}

img
{
    height:60px;
    padding-right: 10px;
    
}

img:hover
{height:70px;
    transition:0.3S}

